<app-spoiler-item header="Title1" [isVisible]="true">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa est omnis
    accusamus at perferendis optio quam cumque. Perspiciatis, voluptatum illum.
    Officia aliquam, sapiente blanditiis qui dolorem, maiores voluptatibus, odio
    magni praesentium deserunt dolor! Cum officiis ullam accusantium illum
    corporis veniam eum neque, consequuntur repellat dignissimos facilis dolorem
    libero numquam sequi
  </p>
  <p>
    <a href=""> labore</a> corrupti soluta voluptatem veritatis earum officia
    ducimus rerum reiciendis ipsam iste? Magni nostrum quod non explicabo
    laudantium vel natus neque facere et quos fugiat corporis tempora suscipit
    excepturi, veritatis placeat a rem molestiae dolores. Soluta, voluptates
    nobis aperiam asperiores nam, illo iure ad laboriosam esse porro, fuga
    repudiandae. Nam?
  </p>
  <app-spoiler-item header="Title2" [isVisible]="false">
    <p>
      corrupti soluta voluptatem veritatis earum officia ducimus rerum
      reiciendis ipsam iste? Magni nostrum quod non explicabo laudantium vel
      natus neque facere et quos fugiat corporis tempora suscipit excepturi,
      veritatis placeat a rem molestiae dolores. Soluta, voluptates nobis
      aperiam asperiores nam, illo iure ad laboriosam esse porro, fuga
      repudiandae.<a href=""> labore</a>
    </p>
  </app-spoiler-item>
</app-spoiler-item>
